<div class="center hero-unit">
  <h1><%= t(:home_title) %></h1>

  <h2>
    <%= t(:home_subtitle) %>
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  </h2>

  <%= link_to t(:signup_now), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>