<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Rails Microblog</a>
  is a project to test different things regarding the
  <a href="http://rubyonrails.org/">Ruby on Rails</a> framework.
  This is the sample application for that purpouse.
</p>