<%= link_to gravatar_for(object, size: 52), object %>
<h1>
  <%= object.name %>
</h1>
<% unless current_page?(user_path(object)) %>
  <span>
    <%= link_to "view my profile", object %>
  </span>
<% end %>
<span>
  <%= pluralize(object.microposts.count, "micropost") %>
</span>