<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about_link), about_path %></li>
      <li><%= link_to t(:contact_link), contact_path %></li>
    </ul>
  </nav>
</footer>